@charset "UTF-8";
@import url("../bootstrap/css/bootstrap.min.css");
body, ol, ul, dl, li, dt, dd, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #040000;
  text-decoration: none;
}

button {
  background-color: transparent;
  border-radius: 0;
  border: none;
  padding: 0;
  margin: 0;
}

button:focus {
  border: none;
}

button:focus {
  outline: 0;
}

body {
  color: #040000;
  background-color: white;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Microsoft YaHei, PingFang SC, Arial, Helvetica Neue, Helvetica, Hiragino Sans GB, sans-serif;
}

.w1200 {
  max-width: 1200px;
  width: 1200px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.flex1 {
  flex: 1;
}

.font-size-13 {
  font-size: 13px !important;
}

.font-size-16 {
  font-size: 16px !important;
}

.font-size-30 {
  font-size: 30px !important;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  /*不用有内容也可以*/
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.sk-btn {
  margin-top: 60px;
}

.sk-btn button {
  width: 133px;
  height: 51px;
  text-align: center;
  line-height: 51px;
  background-image: url(../images/home_btn_more_nor@2x.png);
  background-size: 100% 100%;
  letter-spacing: 2px;
}

.sk-btn button a {
  display: block;
  color: #040000;
  text-decoration: none;
}

.sk-btn button:hover {
  color: #fff;
  background-image: url(../images/home_btn_more_hov@2x.png);
}

.sk-btn button:hover a {
  color: #fff;
}

.sk-btn button:active {
  color: #fff;
  background-image: url(../images/home_btn_more_hov@2x.png);
}

.sk-btn button:active a {
  color: #fff;
}

.phone-nav {
  display: none;
}

.system-selection {
  display: flex;
  display: -webkit-flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.sk-container {
  margin: 0 auto;
  width: 1246px;
  box-sizing: border-box;
}

.sk-crumbs {
  height: 90px;
  line-height: 90px;
  border-bottom: 1px solid #040000;
  box-sizing: border-box;
  font-size: 13px;
}

.sk-crumbs .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;
}

.sk-crumbs .breadcrumb li {
  color: rgba(4, 0, 0, 0.65);
}

.sk-crumbs .breadcrumb li a {
  color: rgba(4, 0, 0, 0.65);
  text-decoration: none;
}

.sk-crumbs .breadcrumb > li + li:before {
  content: ">";
  color: rgba(4, 0, 0, 0.65);
}

.sk-crumbs .rigtht-crumbs {
  line-height: 90px;
}

.header-top {
  width: 100%;
  height: 79px;
  line-height: 79px;
  text-align: center;
  background-color: #040000;
}

.header-top img {
  width: 215px;
  height: 34px;
}

.head-nav {
  text-align: center;
  height: 86px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.head-nav .head-nav-content {
  display: inline-block;
  border: none;
  height: 100%;
}

.head-nav .head-nav-content li {
  width: 130px;
  height: 100%;
  position: relative;
  display: inline-block;
}

.head-nav .head-nav-content li a {
  display: block;
  border: none;
  background-color: transparent;
  line-height: 86px;
  position: relative;
  color: #040000;
  padding: 0;
  font-size: 17px;
  position: relative;
  text-decoration: none;
}

.head-nav .head-nav-content li a::before {
  content: "";
  width: 1px;
  height: 8px;
  background-color: #040000;
  position: absolute;
  right: 0;
  top: 39px;
}

.head-nav .head-nav-content li a span {
  display: block;
}

.head-nav .head-nav-content li a .name-en {
  display: none;
  width: 100%;
  position: absolute;
  bottom: 17px;
  left: 50%;
  margin-left: -65px;
  line-height: 1;
  font-size: 12px;
  text-align: center;
}

.head-nav .head-nav-content li:last-of-type a::before {
  width: 0;
}

.head-nav .head-nav-content .on a .name-en {
  display: block;
}

.head-nav .head-nav-content .on::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 14px;
  background-image: url(../images/home_icon_sel_nor.png);
  background-size: 100% 100%;
  top: 0px;
  left: 50%;
  margin-left: -14px;
}

.fixed {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1) !important;
}

.sk-bottom .sk-bottom-top {
  height: 52px;
  line-height: 52px;
  background-color: #8C8C8C;
  font-size: 17px;
  color: white;
  text-align: center;
}

.sk-bottom .sk-bottom-top ul {
  display: inline-block;
}

.sk-bottom .sk-bottom-top ul li {
  display: inline-block;
  margin-right: 87px;
}

.sk-bottom .sk-bottom-top ul li img {
  width: 32px;
  height: 32px;
}

.sk-bottom .sk-bottom-2 {
  width: 100%;
  background-color: #040000;
  height: 226px;
  padding-top: 30px;
}

.sk-bottom .sk-bottom-2 .sk-bottom-content {
  width: 900px;
  margin: 0 auto;
  position: relative;
}

.sk-bottom .sk-bottom-2 .sk-bottom-content ul li {
  line-height: 32px;
}

.sk-bottom .sk-bottom-2 .sk-bottom-content ul li a {
  color: white;
  text-decoration: none;
}

.sk-bottom .sk-bottom-2 .sk-bottom-content dl dd {
  color: white;
  font-size: 13px;
  line-height: 26px;
}

.sk-bottom .sk-bottom-2 .sk-bottom-content dl dd:nth-of-type(2) {
  line-height: 38px;
}

.sk-bottom .sk-bottom-2 .sk-bottom-content dl dd:nth-of-type(3) {
  line-height: 40px;
}

.sk-bottom .sk-bottom-2 .sk-bottom-content .go-back-top {
  width: 133px;
  height: 51px;
  background-image: url(../images/home_bottom_btn_more_nor.png);
  background-size: 100% 100%;
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -66px;
  margin-top: -25px;
  text-align: center;
  line-height: 51px;
  cursor: pointer;
}

.sk-bottom .sk-bottom-3 {
  height: 42px;
  background-color: #161616;
  text-align: center;
  line-height: 42px;
  color: white;
  font-size: 12px;
}

.sk-bottom .sk-bottom-3 a {
  color: white;
}

.about-box {
  background-image: url(../images/contact_bg@2x.png);
  background-size: contain;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /*兼容IE11*/
}

.head-nav {
  box-shadow: none !important;
}

.home-container {
  padding-bottom: 72px;
}

.home-container .carousel {
  max-width: 1820px;
  width: 100%;
  height: 700px;
  margin: 0 auto;
  margin-bottom: 112px;
}

.home-container .carousel .item {
  height: 100%;
  text-align: center;
  width: 100%;
}

.home-container .carousel .item img {
  width: 100%;
}

.home-container .carousel .carousel-indicators {
  bottom: 40px;
}

.home-container .carousel .carousel-indicators li {
  width: 109px;
  height: 9px;
  background: white;
  opacity: 0.5;
  border-radius: 0;
  margin: 0 6px;
}

.home-container .carousel .carousel-indicators .active {
  background-color: #fff;
  opacity: 1;
}

.home-box {
  margin-bottom: 20px;
}

.home-box .brand-top {
  margin-bottom: 43px;
}

.home-box .brand-top .fl img {
  width: 780px;
}

.home-box .brand-top .fr {
  width: 400px;
}

.home-box .brand-top .fr .brand-title-en {
  text-align: right;
  font-size: 54px;
}

.home-box .brand-top .fr .brand-title-zh {
  text-align: right;
  font-size: 28px;
}

.home-box .brand-top .fr .brand-line {
  width: 250px;
  height: 1px;
  background-color: #040000;
  margin-top: 60px;
  margin-bottom: 45px;
}

.home-box .brand-top .fr .brand-text {
  line-height: 26px;
  font-size: 14px;
  text-indent: 2em;
  letter-spacing: 2px;
  display: none;
}

.home-box .brand-top .fr .brand-text3 {
  display: none;
}

.home-box .brand-top .sk-btn {
  text-align: right;
}

.home-box .brand-top .brand3 .brand-line {
  margin-top: 20px;
  margin-bottom: 20px;
}

.home-box .brand-top .brand3 .sk-btn {
  margin-top: 50px;
  text-align: right;
}

.home-box .brand-bottom .brand-one {
  margin-right: 19px;
  display: inline-block;
  width: 32%;
  position: relative;
}

.home-box .brand-bottom .brand-one:last-of-type {
  margin-right: 0;
}

.home-box .brand-bottom .brand-one img {
  width: 100%;
}

.home-box .brand-bottom .brand-one .brand-one-info {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 110px;
  top: 0;
  left: 0;
  background-color: rgba(4, 0, 0, 0.65);
  cursor: pointer;
}

.home-box .brand-bottom .brand-one .brand-one-info .brand-ont-title-en {
  font-size: 20px;
  letter-spacing: 2px;
  color: #fff;
}

.home-box .brand-bottom .brand-one .brand-one-info .brand-ont-title-zh {
  font-size: 14px;
  color: #fff;
  opacity: 0.65;
}

.home-box .brand-bottom .active .brand-one-info {
  background-color: transparent;
}

.home-box-head {
  width: 1380px;
  margin: 0 auto;
  border-top: 1px solid #BCBCBC;
  position: relative;
}

.home-box-head::before {
  content: "";
  width: 75px;
  height: 30px;
  background-image: url(../images/home_seg@2x.png);
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -37px;
}

.home-box-head .home-box-title {
  margin-top: 62px;
  text-align: center;
}

.home-box-head .home-box-title .home-title-zh {
  font-size: 58px;
  line-height: 70px;
}

.home-box-head .home-box-title .home-title-en {
  font-size: 28px;
  line-height: 37px;
  position: relative;
}

.home-box-head .home-box-title .home-title-en span {
  display: inline-block;
  padding: 10px 68px 41px 68px;
  border-bottom: 1px solid #040000;
}

.home-business {
  margin-top: 80px;
}

.home-business .home-box-content {
  margin-top: 44px;
}

.home-business .home-box-content .business-img-big {
  width: 100%;
}

.home-business .tailor-img-list {
  margin-top: 44px;
  width: 100%;
  padding: 40px 0;
  background-color: #F4F4F4;
}

.home-business .tailor-img-list .tailor-one {
  float: left;
  width: 24.8%;
  padding: 0 25px;
}

.home-business .tailor-img-list .tailor-one .tailor-img-one {
  padding: 15px;
  background-color: #fff;
}

.home-business .tailor-img-list .tailor-one img {
  width: 100%;
}

.home-business .tailor-img-list .tailor-one .tailor-img-title {
  color: #AB9779;
  font-size: 18px;
  line-height: 50px;
}

.home-business .tailor-img-list .tailor-one .tailor-img-text {
  font-size: 14px;
}

.home-business .sk-btn {
  text-align: center;
  margin-bottom: 60px;
}

.home-customer .sk-btn {
  text-align: center;
}

.home-customer .customer-img {
  margin-top: 10px;
  color: rgba(4, 0, 0, 0.65);
  text-align: center;
  padding-right: 100px;
}

.home-customer .customer-img img {
  width: 130px;
  height: 130px;
}

.home-suit {
  margin-top: 100px;
}

.home-suit .home-box-title {
  margin-bottom: 50px;
}

.home-suit .home-box-title .home-title-zh {
  font-size: 39px;
}

.home-suit .home-box-title .home-title-en {
  font-size: 22px;
}

.home-suit .suit-img-list .suit-one {
  display: inline-block;
  width: 48%;
}

.home-suit .suit-img-list .suit-one:nth-of-type(1), .home-suit .suit-img-list .suit-one:nth-of-type(2) {
  margin-bottom: 77px;
}

.home-suit .suit-img-list .suit-one:nth-of-type(2n+1) {
  margin-right: 42px;
}

.home-suit .suit-img-list .suit-one .suit-title {
  border-left: 2px solid #040000;
  padding-left: 13px;
  margin-bottom: 30px;
}

.home-suit .suit-img-list .suit-one .suit-title .suit-title-zh {
  font-size: 28px;
  letter-spacing: 2px;
}

.home-suit .suit-img-list .suit-one .suit-title .suit-title-en {
  font-size: 22px;
  color: rgba(4, 0, 0, 0.45);
}

.home-suit .suit-img-list .suit-one .suit-img img {
  width: 100%;
}

.home-suit .suit-img-list .suit-one .suit-more {
  text-align: right;
}

.home-suit .suit-img-list .suit-one .suit-more a {
  color: rgba(4, 0, 0, 0.45);
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
}

.home-suit .sk-btn {
  text-align: center;
}
