@charset "UTF-8";
@import url("../bootstrap/css/bootstrap.min.css");
body, ol, ul, dl, li, dt, dd, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #040000;
  text-decoration: none;
}

button {
  background-color: transparent;
  border-radius: 0;
  border: none;
  padding: 0;
  margin: 0;
}

button:focus {
  border: none;
}

button:focus {
  outline: 0;
}

body {
  color: #040000;
  background-color: white;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Microsoft YaHei, PingFang SC, Arial, Helvetica Neue, Helvetica, Hiragino Sans GB, sans-serif;
}

.w1200 {
  max-width: 1200px;
  width: 1200px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.flex1 {
  flex: 1;
}

.font-size-13 {
  font-size: 13px !important;
}

.font-size-16 {
  font-size: 16px !important;
}

.font-size-30 {
  font-size: 30px !important;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  /*不用有内容也可以*/
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.sk-btn {
  margin-top: 60px;
}

.sk-btn button {
  width: 133px;
  height: 51px;
  text-align: center;
  line-height: 51px;
  background-image: url(../images/home_btn_more_nor@2x.png);
  background-size: 100% 100%;
  letter-spacing: 2px;
}

.sk-btn button a {
  display: block;
  color: #040000;
  text-decoration: none;
}

.sk-btn button:hover {
  color: #fff;
  background-image: url(../images/home_btn_more_hov@2x.png);
}

.sk-btn button:hover a {
  color: #fff;
}

.sk-btn button:active {
  color: #fff;
  background-image: url(../images/home_btn_more_hov@2x.png);
}

.sk-btn button:active a {
  color: #fff;
}

.phone-nav {
  display: none;
}

.system-selection {
  display: flex;
  display: -webkit-flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.sk-container {
  margin: 0 auto;
  width: 1246px;
  box-sizing: border-box;
}

.sk-crumbs {
  height: 90px;
  line-height: 90px;
  border-bottom: 1px solid #040000;
  box-sizing: border-box;
  font-size: 13px;
}

.sk-crumbs .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;
}

.sk-crumbs .breadcrumb li {
  color: rgba(4, 0, 0, 0.65);
}

.sk-crumbs .breadcrumb li a {
  color: rgba(4, 0, 0, 0.65);
  text-decoration: none;
}

.sk-crumbs .breadcrumb > li + li:before {
  content: ">";
  color: rgba(4, 0, 0, 0.65);
}

.sk-crumbs .rigtht-crumbs {
  line-height: 90px;
}

.header-top {
  width: 100%;
  height: 79px;
  line-height: 79px;
  text-align: center;
  background-color: #040000;
}

.header-top img {
  width: 215px;
  height: 34px;
}

.head-nav {
  text-align: center;
  height: 86px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.head-nav .head-nav-content {
  display: inline-block;
  border: none;
  height: 100%;
}

.head-nav .head-nav-content li {
  width: 130px;
  height: 100%;
  position: relative;
  display: inline-block;
}

.head-nav .head-nav-content li a {
  display: block;
  border: none;
  background-color: transparent;
  line-height: 86px;
  position: relative;
  color: #040000;
  padding: 0;
  font-size: 17px;
  position: relative;
  text-decoration: none;
}

.head-nav .head-nav-content li a::before {
  content: "";
  width: 1px;
  height: 8px;
  background-color: #040000;
  position: absolute;
  right: 0;
  top: 39px;
}

.head-nav .head-nav-content li a span {
  display: block;
}

.head-nav .head-nav-content li a .name-en {
  display: none;
  width: 100%;
  position: absolute;
  bottom: 17px;
  left: 50%;
  margin-left: -65px;
  line-height: 1;
  font-size: 12px;
  text-align: center;
}

.head-nav .head-nav-content li:last-of-type a::before {
  width: 0;
}

.head-nav .head-nav-content .on a .name-en {
  display: block;
}

.head-nav .head-nav-content .on::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 14px;
  background-image: url(../images/home_icon_sel_nor.png);
  background-size: 100% 100%;
  top: 0px;
  left: 50%;
  margin-left: -14px;
}

.fixed {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1) !important;
}

.sk-bottom .sk-bottom-top {
  height: 52px;
  line-height: 52px;
  background-color: #8C8C8C;
  font-size: 17px;
  color: white;
  text-align: center;
}

.sk-bottom .sk-bottom-top ul {
  display: inline-block;
}

.sk-bottom .sk-bottom-top ul li {
  display: inline-block;
  margin-right: 87px;
}

.sk-bottom .sk-bottom-top ul li img {
  width: 32px;
  height: 32px;
}

.sk-bottom .sk-bottom-2 {
  width: 100%;
  background-color: #040000;
  height: 226px;
  padding-top: 30px;
}

.sk-bottom .sk-bottom-2 .sk-bottom-content {
  width: 900px;
  margin: 0 auto;
  position: relative;
}

.sk-bottom .sk-bottom-2 .sk-bottom-content ul li {
  line-height: 32px;
}

.sk-bottom .sk-bottom-2 .sk-bottom-content ul li a {
  color: white;
  text-decoration: none;
}

.sk-bottom .sk-bottom-2 .sk-bottom-content dl dd {
  color: white;
  font-size: 13px;
  line-height: 26px;
}

.sk-bottom .sk-bottom-2 .sk-bottom-content dl dd:nth-of-type(2) {
  line-height: 38px;
}

.sk-bottom .sk-bottom-2 .sk-bottom-content dl dd:nth-of-type(3) {
  line-height: 40px;
}

.sk-bottom .sk-bottom-2 .sk-bottom-content .go-back-top {
  width: 133px;
  height: 51px;
  background-image: url(../images/home_bottom_btn_more_nor.png);
  background-size: 100% 100%;
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -66px;
  margin-top: -25px;
  text-align: center;
  line-height: 51px;
  cursor: pointer;
}

.sk-bottom .sk-bottom-3 {
  height: 42px;
  background-color: #161616;
  text-align: center;
  line-height: 42px;
  color: white;
  font-size: 12px;
}

.sk-bottom .sk-bottom-3 a {
  color: white;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /*兼容IE11*/
}

.head-nav {
  box-shadow: none !important;
}

.home-box-head {
  width: 1380px;
  margin: 0 auto;
  position: relative;
}

.home-box-head .home-box-title {
  margin-top: 62px;
  text-align: center;
}

.home-box-head .home-box-title .home-title-zh {
  font-size: 58px;
  line-height: 70px;
}

.home-box-head .home-box-title .home-title-en {
  font-size: 28px;
  line-height: 37px;
  position: relative;
}

.home-box-head .home-box-title .home-title-en span {
  display: inline-block;
  padding: 10px 68px 41px 68px;
  border-bottom: 1px solid #040000;
}

.home-box-head-2::before {
  content: "";
  width: 75px;
  height: 30px;
  background-image: url(../images/home_seg@2x.png);
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -37px;
}

.suit-home-container .carousel {
  width: 1820px;
  height: 700px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.suit-home-container .carousel .item {
  height: 100%;
  text-align: center;
}

.suit-home-container .carousel .carousel-indicators {
  bottom: 40px;
}

.suit-home-container .carousel .carousel-indicators li {
  width: 109px;
  height: 9px;
  background: white;
  opacity: 0.5;
  border-radius: 0;
  margin: 0 6px;
}

.suit-home-container .carousel .carousel-indicators .active {
  background-color: #fff;
  opacity: 1;
}

.suit-customer {
  margin-bottom: 60px;
}

.suit-customer .sk-btn {
  text-align: center;
}

.bussiness-ding {
  text-align: center;
}

.bussiness-ding .buss-title {
  font-size: 30px;
  margin-bottom: 24px;
}

.bussiness-ding .buss-des {
  font-size: 17px;
  color: rgba(4, 0, 0, 0.65);
  line-height: 30px;
  margin-bottom: 60px;
}

.bussiness-ding .buss-list img {
  width: 227px;
}

.suit-process {
  margin-top: 71px;
  width: 100%;
  min-width: 1246px;
  text-align: center;
  background-color: #f4f4f4;
  padding-top: 57px;
  padding-bottom: 76px;
}

.suit-process .suit-process-title {
  font-size: 18px;
}

.suit-process .suit-process-des {
  font-size: 17px;
  margin-bottom: 40px;
  color: rgba(4, 0, 0, 0.65);
}

.suit-process .suit-process-img img {
  width: 914px;
}

.suit-process .suit-process-text {
  margin-top: 68px;
  font-size: 13px;
  color: rgba(4, 0, 0, 0.65);
  letter-spacing: 2px;
}

.suit-show {
  position: relative;
  text-align: center;
  padding-top: 85px;
  margin: 0 auto;
}

.suit-show::before {
  content: "";
  width: 75px;
  height: 30px;
  background-image: url(../images/home_seg@2x.png);
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -37px;
}

.suit-show .home-box-title {
  display: inline-block;
  border-top: 1px solid #AB9779;
  border-bottom: 1px solid #AB9779;
  padding: 8px 0;
  margin-bottom: 67px;
}

.suit-show .home-box-title .home-title-en {
  font-size: 22px;
  color: rgba(4, 0, 0, 0.65);
  line-height: 40px;
}

.suit-show .home-box-title .home-title-zh {
  font-size: 35px;
}

.suit-show .suit-show-main {
  display: flex;
}

.suit-show .suit-show-main .suit-menu {
  width: 246px;
  background-color: #fff;
  flex: none;
}

.suit-show .suit-show-main .suit-menu .suit-menu-top {
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  font-size: 17px;
  background-color: #040000;
}

.suit-show .suit-show-main .suit-menu .suit-main {
  background-color: #f4f4f4;
  padding-top: 36px;
}

.suit-show .suit-show-main .suit-menu .suit-menu-one {
  padding: 0 30px;
  margin-top: 15px;
}

.suit-show .suit-show-main .suit-menu .suit-menu-one:last-of-type {
  padding-bottom: 30px;
}

.suit-show .suit-show-main .suit-menu .suit-menu-one:nth-of-type(1) {
  margin-top: 15px;
}

.suit-show .suit-show-main .suit-menu .suit-menu-one .suit-menu-title {
  font-size: 15px;
  text-align: left;
  margin-bottom: 10px;
}

.suit-show .suit-show-main .suit-menu .suit-menu-one ul {
  text-align: left;
}

.suit-show .suit-show-main .suit-menu .suit-menu-one ul li {
  color: rgba(4, 0, 0, 0.5);
  display: inline-block;
  width: 48.5%;
  font-size: 13px;
  text-align: left;
  line-height: 36px;
  cursor: pointer;
}

.suit-show .suit-show-main .suit-menu .suit-menu-one ul li a {
  text-decoration: none;
  color: rgba(4, 0, 0, 0.5);
}

.suit-show .suit-show-main .suit-menu .suit-menu-one ul li a:hover {
  color: #E84A58;
  border-bottom: 1px solid #E84A58;
  padding-bottom: 5px;
}

.suit-show .suit-show-main .suit-menu .suit-menu-one ul li:hover a {
  color: #E84A58;
  border-bottom: 1px solid #E84A58;
  padding-bottom: 5px;
}

.suit-show .suit-show-main .suit-menu .suit-menu-one ul .active a {
  color: #E84A58;
  border-bottom: 1px solid #E84A58;
  padding-bottom: 5px;
}

.suit-show .suit-show-main .suit-menu .suit-menu-one .suit-menu-2 li {
  width: 23.3%;
}

.suit-show .suit-show-main .suit-menu .suit-contact {
  background-color: #E2D7C4;
  color: #030303;
  font-size: 14px;
  padding: 30px 0;
  padding-left: 30px;
  text-align: left;
}

.suit-show .suit-show-main .suit-menu .suit-contact div {
  margin-bottom: 25px;
}

.suit-show .suit-show-main .suit-list-main {
  flex: 1;
  padding-left: 28px;
}

.suit-show .suit-show-main .suit-list-main .suit-main-box .suit-main-img {
  width: 100%;
  position: relative;
  cursor: pointer;
  margin-bottom: 30px;
}

.suit-show .suit-show-main .suit-list-main .suit-main-box .suit-main-img:last-of-type {
  margin-bottom: 0;
}

.suit-show .suit-show-main .suit-list-main .suit-main-box .suit-main-img img {
  width: 100%;
}

.suit-show .suit-show-main .suit-list-main .suit-main-box .suit-main-img .suit-img-info {
  width: 258px;
  height: 123px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -129px;
  margin-top: -61px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 25px 0;
  padding-left: 47px;
  box-sizing: border-box;
}

.suit-show .suit-show-main .suit-list-main .suit-main-box .suit-main-img .suit-img-info .suit-info-center {
  border-left: 2px solid #040000;
  padding-left: 10px;
  text-align: left;
}

.suit-show .suit-show-main .suit-list-main .suit-main-box .suit-main-img .suit-img-info .suit-info-center .suit-info-zh {
  font-size: 28px;
  letter-spacing: 3px;
}

.suit-show .suit-show-main .suit-list-main .suit-main-box .suit-main-img .suit-img-info .suit-info-center .suit-info-en {
  font-size: 22px;
  color: rgba(4, 0, 0, 0.45);
}

.suit-show .suit-show-main .suit-list-main .suit-main-box .suit-main-img .suit-img-info-2 {
  background-color: rgba(0, 0, 0, 0.2);
}

.suit-show .suit-show-main .suit-list-main .suit-main-box .suit-main-img .suit-img-info-2 .suit-info-center {
  border-color: #fff;
}

.suit-show .suit-show-main .suit-list-main .suit-main-box .suit-main-img .suit-img-info-2 .suit-info-center .suit-info-zh {
  color: #fff;
}

.suit-show .suit-show-main .suit-list-main .suit-main-box .suit-main-img .suit-img-info-2 .suit-info-center .suit-info-en {
  color: rgba(255, 255, 255, 0.45);
}

.suit-show .suit-show-main .suit-list-main .suit-main-box .suit-main-img .suit-img-info-3 .suit-info-center .suit-info-en {
  color: white;
}

.suit-show .suit-show-main .suit-list-main .suit-main-left {
  width: 527px;
  display: inline-block;
}

.suit-show .suit-show-main .suit-list-main .suit-main-right {
  margin-left: 30px;
  width: 413px;
  display: inline-block;
}

.sk-advantage {
  background-color: #f4f4f4;
  text-align: center;
  margin-top: 88px;
  padding-top: 61px;
  padding-bottom: 91px;
  position: relative;
}

.sk-advantage::before {
  content: "";
  width: 75px;
  height: 30px;
  background-image: url(../images/home_seg@2x.png);
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -37px;
}

.sk-advantage .sk-advantage-title {
  padding: 0 40px;
  border-bottom: 1px solid #040000;
  display: inline-block;
  padding-bottom: 16px;
}

.sk-advantage .sk-advantage-title .sk-adv-en {
  font-size: 22px;
  color: #C7A46F;
}

.sk-advantage .sk-advantage-title .sk-adv-zh {
  font-size: 40px;
}

.sk-advantage .sk-adv-main {
  text-align: center;
  margin-top: 56px;
}

.sk-advantage .sk-adv-main .sk-main-one {
  line-height: 88px;
}

.sk-advantage .sk-adv-main .sk-main-one > div {
  display: inline-block;
  vertical-align: bottom;
}

.sk-advantage .sk-adv-main .sk-main-one .sk-main-line {
  display: inline-block;
  width: 146px;
  height: 0;
  border-top: 3px dotted #040000;
  position: relative;
  top: -4px;
}

.sk-advantage .sk-adv-main .sk-main-one .sk-main-left {
  width: 450px;
  text-align: right;
}

.sk-advantage .sk-adv-main .sk-main-one .sk-main-left span {
  font-size: 21px;
  margin-left: 30px;
}

.sk-advantage .sk-adv-main .sk-main-one .sk-main-left-2 > div {
  line-height: 44px;
}

.sk-advantage .sk-adv-main .sk-main-one .sk-main-left-2 > div:nth-of-type(1) {
  font-size: 17px;
}

.sk-advantage .sk-adv-main .sk-main-one .sk-main-left-2 > div:nth-of-type(2) {
  font-size: 13px;
  color: rgba(4, 0, 0, 0.65);
  line-height: 30px;
}

.sk-advantage .sk-adv-main .sk-main-one .sk-main-center {
  width: 215px;
  margin: 0 22px;
}

.sk-advantage .sk-adv-main .sk-main-one .sk-main-center div {
  line-height: 12px;
  font-size: 12px;
  color: #DBB273;
  position: relative;
  top: -4px;
}

.sk-advantage .sk-adv-main .sk-main-one .sk-main-center img {
  width: 100%;
}

.sk-advantage .sk-adv-main .sk-main-one .sk-main-right {
  width: 450px;
  text-align: left;
}

.sk-advantage .sk-adv-main .sk-main-one .sk-main-right span {
  color: #C7A46F;
  font-size: 21px;
  margin-right: 30px;
}

.sk-advantage .sk-adv-main .sk-main-one .sk-main-right-2 > div {
  line-height: 44px;
}

.sk-advantage .sk-adv-main .sk-main-one .sk-main-right-2 > div:nth-of-type(1) {
  font-size: 17px;
  color: #C7A46F;
}

.sk-advantage .sk-adv-main .sk-main-one .sk-main-right-2 > div:nth-of-type(2) {
  font-size: 13px;
  line-height: 30px;
  color: rgba(4, 0, 0, 0.65);
}
