@import "global.scss";
.head-nav{
  box-shadow: none !important;
}

// 头部
.home-box-head{
  margin: 0 auto;
  position: relative;
  .home-box-title{
    margin-top: 62px;
    text-align: center;
    .home-title-zh{
      font-size: 58px;
      line-height: 70px;
    }
    .home-title-en{
      font-size: 28px;
      line-height: 37px;
      position: relative;
      span{
        display: inline-block;
        padding: 10px 68px 41px 68px;
        border-bottom: 1px solid $color-100;
      }
    }
  }
  .home-box-content{
  }
}
.home-box-head-2{
  &::before{
    content: "";
    width: 75px;
    height: 30px;
    background-image: url(../images/home_seg@2x.png);
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -37px;
  }
}
.suit-home-container{
  .carousel{
    width: 100%;
    max-width: 1820px;
    // height: 700px;
    margin: 0 auto;
    margin-bottom: 50px;
    .item{
      height: 100%;
      text-align: center;
    }
    .carousel-indicators{
      bottom: 40px;
      li{
        width:109px;
        height:9px;
        background:rgba(255,255,255,1);
        opacity:0.5;
        border-radius: 0;
        margin: 0 6px;
      }
      .active{
        background-color: #fff;
        opacity: 1;
      }
    }
  }
}
.suit-customer{
  margin-bottom: 60px;
  .sk-btn{
    text-align: center;
  }
}

// 职业装定制
.bussiness-ding{
  text-align: center;
  .buss-title{
    font-size: 30px;
    margin-bottom: 24px;
  }
  .buss-des{
    font-size: 16px;
    color: $color-65;
    line-height: 30px;
    margin-bottom: 60px;
  }
  .buss-list{
    img{
      width: 227px;
    }
  }
}

// 定制流程
.suit-process{
  margin-top: 71px;
  width: 100%;
  // min-width: 1246px;
  text-align: center;
  background-color: #f4f4f4;
  padding-top: 55px;
  padding-bottom: 64px;
  .suit-process-title{
    font-size: 18px;
    margin-bottom: 16px;
  }
  .suit-process-des{
    font-size: 17px;
    margin-bottom: 40px;
    color: $color-65;
  }
  .suit-process-img{
    img{
      width: 914px;
    }
  }
  .suit-process-text{
    margin-top: 68px;
    font-size: 13px;
    color: $color-65;
    letter-spacing: 2px;
  }
}

// 职业装展示
.suit-show{
  position: relative;
  text-align: center;
  padding-top: 85px;
  margin: 0 auto;
  &::before{
    content: "";
    width: 75px;
    height: 30px;
    background-image: url(../images/home_seg@2x.png);
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -37px;
  }
  .home-box-title{
    display: inline-block;
    border-top: 1px solid #AB9779;
    border-bottom: 1px solid #AB9779;
    padding: 8px 0;
    margin-bottom: 67px;
    .home-title-en{
      font-size: 22px;
      color: $color-65;
      line-height: 40px;
      font-weight: 200;
    }
    .home-title-zh{
      font-size: 35px;
    }
  }
  .suit-show-main{
    display: flex;
    .suit-menu{
      width: 246px;
      background-color: #fff;
      flex:none;
      .suit-menu-top{
        height: 45px;
        line-height: 45px;
        text-align: center;
        color: #fff;
        font-size: 17px;
        background-color: $color-100;
      }
      .suit-main{
        background-color: #f4f4f4;
        padding-top: 36px;
      }
      .suit-menu-one{
        padding: 0 30px;
        margin-top: 15px;
        &:last-of-type{
          padding-bottom: 30px;
        }
        &:nth-of-type(1){
          margin-top: 15px;
        }
        .suit-menu-title{
          font-size: 15px;
          text-align: left;
          margin-bottom: 10px;
          cursor: pointer;
        }
        ul{
          text-align: left;
          li{
            color: $color-50;
            display: inline-block;
            width: 48.5%;
            font-size: 13px;
            text-align: left;
            line-height: 36px;
            cursor: pointer;
            a{
              text-decoration: none;
              color: $color-50;
              &:hover{
                color:#E84A58;
                border-bottom: 1px solid #E84A58;
                padding-bottom: 5px;
              }
            }
            &:hover{
              a{
                color:#E84A58;
                border-bottom: 1px solid #E84A58;
                padding-bottom: 5px;
              }
            }
          }
          .active{
            a{
              color:#E84A58;
              border-bottom: 1px solid #E84A58;
              padding-bottom: 5px;
            }
          }
        }
        .suit-menu-2{
            li{
              width: 23.3%;
            }
        }
      }
      .suit-contact{
        background-color: #E2D7C4;
        color: #030303;
        font-size: 14px;
        padding: 30px 0;
        padding-left: 30px;
        text-align: left;
        div{
          margin-bottom: 25px;
        }
      }
    }
    .suit-list-main{
      flex: 1;
      padding-left: 28px;
      .suit-main-box{
        .suit-main-img{
          width: 100%;
          position: relative;
          cursor: pointer;
          margin-bottom: 30px;
          &:last-of-type{
            margin-bottom: 0;
          }
          img{
            width: 100%;
          }
          .suit-img-info{
            width: 258px;
            height: 123px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -129px;
            margin-top: -61px;
            background-color: rgba(255,255,255,.2);
            padding: 25px 0;
            padding-left: 47px;
            box-sizing: border-box;
            .suit-info-center{
              border-left: 2px solid $color-100;
              padding-left: 10px;
              text-align: left;
              .suit-info-zh{
                font-size: 28px;
                letter-spacing: 3px;
                font-weight: 200;
              }
              .suit-info-en{
                font-size: 22px;
                color: $color-45;
                font-weight: 200;
              }
            }
          }
          .suit-img-info-2{
            background-color: rgba(0,0,0,.2);
            .suit-info-center{
              border-color: #fff;
              .suit-info-zh{
                color: #fff;
              }
              .suit-info-en{
                color: rgba(255,255,255,.45);
              }
            }
          }
          .suit-img-info-3{
            .suit-info-center{
              .suit-info-en{
                color: rgba(255,255,255,1);
              }
            }
          }
          .suit-img-info-4{
            background-color: rgba(0,0,0,.2);
          }
        }
      }
      .suit-main-left{
        width: 527px;
        display: inline-block;
      }
      .suit-main-right{
        margin-left: 30px;
        width: 413px;
        display: inline-block;
      }
    }
  }
}
// 优势
.sk-advantage{
  background-color: #f4f4f4;
  text-align: center;
  margin-top: 88px;
  padding-top: 61px;
  padding-bottom: 91px;
  position: relative;
  &::before{
    content: "";
    width: 75px;
    height: 30px;
    background-image: url(../images/home_seg@2x.png);
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -37px;
  }
  .sk-advantage-title{
    padding: 0 80px;
    border-bottom: 1px solid $color-100;
    display: inline-block;
    padding-bottom: 16px;
    .sk-adv-en{
      font-size: 22px;
      color: #C7A46F;
    }
    .sk-adv-zh{
      font-size: 40px;
      font-weight: 200;
    }
  }
  .sk-adv-main{
    text-align: center;
    margin-top: 56px;
    .sk-main-one{
      line-height: 88px;
      &>div{
        display: inline-block;
        vertical-align: bottom;
      }
      .sk-main-line{
        display: inline-block;
        width: 146px;
        height: 0;
        border-top: 3px dotted $color-100;
        position: relative;
        top: -4px;
      }
      .sk-main-left{
        width: 450px;
        text-align: right;
        span{
          font-size: 21px;
          margin-left: 30px;
        }
      }
      .sk-main-left-2{
        &>div{
          line-height: 44px;
          &:nth-of-type(1){
            font-size: 17px;
          }
          &:nth-of-type(2){
            font-size: 13px;
            color: $color-65;
            line-height: 30px;
          }
        }
      }
      .sk-main-center{
        width: 215px;
        margin: 0 22px;
        div{
          line-height: 12px;
          font-size: 12px;
          color: #DBB273;
          position: relative;
          top: -4px;
        }
        img{
          width: 100%;
        }
      }
      .sk-main-right{
        width: 450px;
        text-align: left;
        span{
          color: #C7A46F;
          font-size: 21px;
          margin-right: 30px;
          &:nth-of-type(1){
            font-weight: bold;
          }
        }
        &>div:nth-of-type(1){
          font-weight: bold;
        }
      }
      .sk-main-right-2{
        &>div{
          line-height: 44px;
          &:nth-of-type(1){
            font-size: 17px;
            color: #C7A46F;
          }
          &:nth-of-type(2){
            font-size: 13px;
            line-height: 30px;
            color: $color-65
          }
        }
      }
    }
  }
}

.suit-customer{
  text-align: center;
  .sk-btn{
    text-align: center;
  }
  .home-title-en{
    font-weight: 200;
  }
  .customer-img{
    margin-top: 10px;
    color:$color-65;
    text-align: center;
    font-size: 20px;
    // padding-right: 100px;
    &>div{
      width: 180px;
      float: left;
      margin-right: 33px;
      &:last-of-type{
        margin-right: 0;
      }
    }
    img{
      width: 180px;
      height: 180px;
    }
  }
}